// All bulma specific styles

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// Define variables:

$green: #1db954;

$discordmain: #7289DA;
$discordmain-invert: findColorInvert($discordmain);
$discord: #333;
$discord-invert: findColorInvert($discord);

@import "~bulma/sass/utilities/derived-variables";

$navbar-item-active-color: $link;

$addColors: (
  "discord": ($discord, $discord-invert),
  "discordmain": ($discordmain, $discordmain-invert)
);
$colors: map-merge($colors, $addColors);

// utilities
@import "~bulma/sass/utilities/_all";

// base
@import "~bulma/sass/base/_all";

// elements
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/notification.sass";
// @import "~bulma/sass/elements/progress.sass";
// @import "~bulma/sass/elements/table.sass";
// @import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/other.sass";

// components
// @import "~bulma/sass/components/breadcrumb.sass";
// @import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/dropdown.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/menu.sass";
// @import "~bulma/sass/components/message.sass";
// @import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/navbar.sass";
// @import "~bulma/sass/components/pagination.sass";
// @import "~bulma/sass/components/panel.sass";
// @import "~bulma/sass/components/tabs.sass";

// grid
// @import "~bulma/sass/grid/tiles";
@import "~bulma/sass/grid/columns";

// layout
@import "~bulma/sass/layout/_all";
