$spinner-color: $primary;
$duration: 1.2s;
$between: 0.1s;

.full-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.spinner {
  padding-left: 3px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primary;
  height: 100%;
  width: 4px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 2px;
  
  -webkit-animation: sk-stretchdelay $duration infinite ease-in-out;
  animation: sk-stretchdelay $duration infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -$duration + $between;
  animation-delay: -$duration + $between;
}

.spinner .rect3 {
  -webkit-animation-delay: -$duration + 2 * $between;
  animation-delay: -$duration + 2 * $between;
}

.spinner .rect4 {
  -webkit-animation-delay: -$duration + 3 * $between;
  animation-delay: -$duration + 3 * $between;
}

.spinner .rect5 {
  -webkit-animation-delay: -$duration + 4 * $between;
  animation-delay: -$duration + 4 * $between;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
