// Imports

@import '~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import 'bulma';
@import 'spinner';
@import 'spotify';

// Main containers

.big-error-code {
  font-size: 25vw;
  line-height: 100%;
  color: $dark;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: $dark;
}

.is-rounded {
  border-radius: 50%;
}

.text-tag {
  display: inline-block;
  padding: 0 6px;
  background-color: #eee;
  line-height: 28px;
  border-radius: 4px;
  img {
    vertical-align: middle;
  }
}

.media {
  align-items: stretch;
  .media-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.media-image {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 92px;
  min-height: 92px;
  position: relative;
  margin-bottom: 8px;
  button {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @include mobile {
    width: 60px;
    min-height: 60px;
  }
}

.info-row {
  .info-right {
    float: right;
    clear: both;
  }
  > * {
    vertical-align: middle;
    display: inline-block;
  }
}

.list-item.box {
  @include mobile {
    border-radius: 0;
    margin: 0 -24px;
    box-shadow: none;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    &:first-child {
      border-top: 1px solid rgba(10, 10, 10, 0.1);
    }
  }
}

// is-fullheight but account for header
.hero.is-fullheight-flex {
  min-height: calc(100vh - 60px);
  .hero-body {
    align-items: center;
    display: flex;
    & > .container {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

// Must be direct child of flex-direction: row OR min-width: 0
.is-clipped {
  text-overflow: ellipsis;
}

.multiline {
  height: auto;
}

// Clickable helper
.is-clickable {
  cursor: pointer;
}
.is-unclickable {
  pointer-events: none;
  button {
    pointer-events: all;
  }
}

.dropdown-icon {
  @include arrow($link);
  display: inline-block;
  position: relative;
}

.space-between {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.well {
  background-color: $white-ter;
  border: 1px solid $grey-lighter;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.label.optional::after {
  content: ' (optional)';
  font-size: 80%;
  color: $grey;
  font-weight: normal;
}

.icon-clickable {
  & > * {
    pointer-events: all;
    color: $grey-light;
    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }
}

.fixed-column {
  position: fixed;
  z-index: 29;
  @include mobile {
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid $grey-lighter;
    background-color: $white;
    padding: 0.25rem;
    .section {
      padding: 0;
    }
    .menu-list {
      display: flex;
      justify-content: space-evenly;
      li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        &.is-active {
          background: none;
          color: $link;
        }
      }
    }
  }
}
.fixed-column + .column {
  @include mobile {
    // padding: 0;
    padding-bottom: 64px;
  }
}

// Fix navbar margin above tablet
.navbar > .container > * {
  // @include tablet {
  margin: 0 !important;
  // }
}

// TEMP
.is-discord {
  @include mobile {
    .image {
      display: none;
    }
    .is-clipped {
      font-size: 1rem;
    }
    .is-discordmain {
      font-size: 1rem;
    }
  }
}

.input[disabled] {
  cursor: text;
}

.site-title {
  color: $primary;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.has-border {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.16) !important;
}

button.tag {
  border: none;
}

.labels {
  margin-top: 4px;
  .tag {
    margin-right: 12px;
    cursor: pointer;
  }
  &.low {
    margin-bottom: -20px;
    .tag {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.live-text-edit {
  // position: relative;
  width: 100%;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  // transition: border-width 0.3s ease-in-out;

  // + span {
  //   float: right;
  // }
  &:hover {
    border-color: $grey;
    // + span {
    //   color: $dark;
    // }
  }
  &:focus {
    border-color: $link;
  }
}

.multiline-items {
  margin: -8px;
  & > * {
    margin: 8px;
  }
}

.fixed-above-bottom-nav {
  position: fixed;
  bottom: 0;
}
@include mobile {
  html.has-bottom-navbar .fixed-above-bottom-nav {
    bottom: 64px;
  }
}
