// Imports

@import '~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import 'bulma';
@import 'spinner';

// Main containers

html {
  overflow-y: auto;
}

.big-error-code {
  font-size: 30vw;
  line-height: 100%;
  color: $dark; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: $dark;
}

.multiline {
  height: auto;
}

.dir-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.label.optional::after {
  content: ' (optional)';
  font-size: 80%;
  color: $grey;
  font-weight: normal;
}

// #search-results.dropdown {
//   width: 100%;

//   .dropdown-menu{
//     width: 100%;
//   }

//   .dropdown-content {
//     width: 100%;
//     max-height: 400px;
//     overflow-y: auto;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//   }

//   .media {
//     padding-left: 1rem;
//     padding-right: 1rem;
//   }

//   .no-results {
//     margin: 0 16px;
//     align-self: stretch;
//   }
// }

.icon-clickable {
  & > * {
    pointer-events: all;
    color: $grey-light;
    &:hover {
      color: $grey;
      cursor: pointer;
    }
  }
}

.is-flex-row { flex-direction: row; }
.is-flex-align-end { align-items: flex-end; }
